<!DOCTYPE html>
{% extends 'todo/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>current</title>
</head>
{% csrf_token %}
<body>

{% block content %}
<h2>Completed</h2>
<ul>
    {% for todo in todos %}
    <li>
        <a href="{% url 'viewtodo' todo.id %}">
        {% if todo.important %}
        <b>
        {% endif %}
        {{ todo.title }}
        {% if todo.important %}
        </b>
        {% endif %}
        {% if todo.description %}
         - {{ todo.description }}
        {% endif %}
             --- {{ todo.datecompleted|date:'M j Y H:i' }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock content %}
</body>
</html>